# https://prettier.io/docs/en/options.html#end-of-line
* text=auto eol=lf

#
# The above will handle all files NOT found below
#

# DOCUMENTS
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.md text

# GRAPHICS
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.svg  text
*.eps binary

## SOURCE CODE
*.bat      text eol=crlf
*.css      text
*.htm      text
*.html     text
*.js       text
*.json     text
*.jsx      text
*.sass     text
*.scss     text
*.sh       text eol=lf
*.ts       text
*.tsx      text

## DOCKER
*.dockerignore    text
Dockerfile    text

## DOCUMENTATION
*.markdown   text
*.md         text
*.mdwn       text
*.mdown      text
*.mkd        text
*.mkdn       text
*.mdtxt      text
*.mdtext     text
*.txt        text
AUTHORS      text
CHANGELOG    text
CHANGES      text
CONTRIBUTING text
COPYING      text
copyright    text
*COPYRIGHT*  text
INSTALL      text
license      text
LICENSE      text
NEWS         text
readme       text
*README*     text
TODO         text

## LINTERS
.eslintrc     text

## CONFIGS
*.conf         text
*.config       text
.editorconfig  text
.gitattributes text
.gitconfig     text
*.npmignore    text
*.yaml         text
*.yml          text
Makefile       text
makefile       text

## AUDIO
*.mp3  binary

## ARCHIVES
*.7z  binary
*.gz  binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary

## FONTS
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary

## EXECUTABLES
*.exe binary
*.pyc binary